---
import DateTimeComponent from "../components/DateTimeComponent.astro";
import BaseLayout from "./BaseLayout.astro";
import { Disqus } from "astro-disqus";

interface Props {
  frontmatter: {
    title: string;
    date: string;
    description?: undefined | string;
    tags: string[];
    imageAlt?: string | undefined;
    image?: {
      src: string;
      width: number;
      height: number;
    } | undefined;
  };
}
const { frontmatter } = Astro.props;

const description = frontmatter.description;
const image = frontmatter.image;
const title = frontmatter.title;
const canonicalURL = new URL(Astro.url.pathname.replace(".html", ""), Astro.site).toString();



// https://www.cemkiray.com/posts/how-to-add-json-ld-schema-in-astro/
// https://developers.google.com/search/docs/appearance/structured-data/article
// Construct JSON-LD data for the blog post
const blogJsonLd = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": canonicalURL,
  },
  headline: title,
  description: description,
  image: image?.src,
  author: {
    "@type": "Person",
    name: "David Gardiner",
    url: Astro.site?.toString(),
  },
  datePublished: frontmatter.date,
  // dateModified: modDatetime?.toISOString(),
};

---

<BaseLayout pageTitle={title}>
  <slot name="head" slot="head" />
  {description && (
    <meta name="description" content={description} slot="head" />
  )}
  {description && (
    <meta name="og:description" content={description} slot="head" />
  )}

  <meta name="og:title" content={title} slot="head" />
  <meta name="og:type" content="article" slot="head" />
  <meta name="og:url" content={canonicalURL} slot="head" />
  {image && (
    <meta name="og:image" content={image.src} slot="head" />
  )}
  {image && image.width && (
    <meta name="og:image:width" content={image.width.toString()} slot="head" />
  )}
  {image && image.height && (
    <meta name="og:image:height" content={image.height.toString()} slot="head" />
  )}
  {frontmatter.imageAlt && (
    <meta name="og:image:alt" content={frontmatter.imageAlt} slot="head" />
  )}

    {
      blogJsonLd && (
        <script slot="head" is:raw is:inline
          type="application/ld+json"
          set:html={JSON.stringify(blogJsonLd)}
        />
      )
    }
  
  <h1>{frontmatter.title}</h1>

  <p><DateTimeComponent date={frontmatter.date} /></p>

  <p><em>{frontmatter.description}</em></p>

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />

  <Disqus
    embed="https://davidgardiner.disqus.com/embed.js"
    url={Astro.url.toString()}
  />
</BaseLayout>
